{% extends "nav_footer.html" %}
{% load static %}

{% block title %}Carta{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/carta.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="lora paddingInador">Para Ti.</h2>
        <div class="card cardBodyColor m-3">
            <div class="card-body ">
                <p class="contenidoCarta">Amor, la verdad es que no como decirte todo lo feliz que me haces cada vez que estás a mi lado, la verdad es que si tuviera que comenzar de nuevo una vida. Pase lo que pase, la verdad es que sí repetiría el estar contigo y no cambiaría lo poco que hemos pasado hasta ahora.</p>
            </div>
        </div>
        <div class="card cardBodyColor m-3">
            <div class="card-body ">
                <p class="contenidoCarta">Estar contigo es como estar con alguien que nunca sabrás con lo que te saldrá y eso no es malo. Mantiene las cosas en movimiento, aunque básicamente todavía nos estamos terminando de conocer. O eso quiero creer, aunque sé que falta mucho y mucho tiempo todavía por poder compartir.</p>
            </div>
        </div>
        <div class="card cardBodyColor m-3">
            <div class="card-body ">
                <p class="contenidoCarta">Sé que esto no es un regalo convencional de 14 febrero y que a lo mejor tú querías algo que fuese más físico, tal vez flores o fotos de nosotros en físico, pero creo que esto es algo más original, más que se sienta como algo que yo te daría, algo que yo haría pesando en ti.</p>
            </div>
        </div>
        <div class="card cardBodyColor m-3">
            <div class="card-body ">
                <p class="contenidoCarta">Quiero que ocupes este regalo amor para que hagamos una lista de recuerdos amor, que tanto tú como yo podamos subir nuestros recuerdos juntos y que podamos tener recuerdos que vayan creciendo con el tiempo con el mismo que nosotros creceremos como pareja.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!--<script src="{% static 'js/apicarta.js' %}"></script>-->
{% endblock %}