{% extends "nav_footer.html" %}
{% load static %}

{% block title %}Crear_Recuerdo{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/crear_recuerdo.css' %}">
{% endblock %}

{% block content %}

<h2 class="lora paddingTitle"> 
    Creador de Recuerdos
</h2>

<div class="container">
    <div class="card m-3 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <p class="sora">Aqui puedes o podemos guardar nuestros proximos recuerdos.</p>
                    <p class="sora">Pero creo que tendre que mejorarlo para que podamos subir mas recuerdos mas adelante</p>
                </div>
                <form action="">
                    <div class="col-md">
                        <label for="tRecuerdo" class="lora mt-1">Como se llama el recuerdo?</label>
                        <input type="text" class="form-control sora" id="tRecuerdo" placeholder="Titulo del recuerdo">
                        <label for="dRecuerdo" class="lora mt-2">Como fue el recuerdo?</label>
                        <textarea class="form-control sora" id="dRecuerdo" rows="3" placeholder="Descripcion del recuerdo"></textarea>
                    </div>
                    <div class="col-md">
                        <label for="iRecuerdo" class="lora mt-2">Imagen del recuerdo?</label>
                        <input type="file" class="form-control sora" id="iRecuerdo" placeholder="Imagen del recuerdo">
                    </div>
                    <br>
                    <div class="text-center">
                        <p class="sora">Ya tenemos listo el recuerdo amor, ¿lo guardamos? </p>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary mt-3">Guardar Recuerdo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}

{% endblock %}