{% extends "nav_footer.html" %}
{% load static %}

{% block title %}Fotos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fotos.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="lora paddingInador">Nuestras Fotos</h2>
        <div class="row">
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo1.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo2.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo3.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo4.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo5.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo6.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo7.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo8.jpg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo9.jpeg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card" style="background-color: #E3ACF2;">
                    <div class="card-body m-3 shadow" style="background-color: white;">
                        <img src="{% static 'img/recuerdo10.jpg'%}" class="img-fluid card-img rounded-3" alt="nombre">
                    </div>
                </div>
            </div>
        </div>
    </div>      
{% endblock %}

{% block extra_js %}
    <!--<script src="{% static 'js/apifotos.js' %}"></script>-->
{% endblock %}