.background{
    background-color: blueviolet;
}
.card{
    color: darkmagenta;
}
.card-body {
    background-color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
}
.card-header{
    background-color: whitesmoke;
    border-radius: 5px;
}
.paddingInadorRecuerdos{
    padding-left: 14px;
    padding-right: 14px;
}